/*  Universal Styles  */
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 2rem;
  margin: 0 auto;
  padding: 0;
  opacity: 0.95;
}

ul li a,
.banner-button a {
text-decoration: none;
color: inherit;
}

.content-container {
  width: 100%;
  margin: 0;
  padding: 4rem 0 0 0;
}


h1 {
  font-family: "Lato", serif;
  font-weight: bold;
  opacity: .95;
}

h3 {
  font-family: "Roboto", serif;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: .80;
}


/*  Header  */

.header-container {
  position: fixed;
  z-index: 1;
  height: 4rem;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  /*border: 1px solid green;*/
}

.logo-container {
  font-size: 0;
  display: flex;
  align-items: center;
  /*border: 1px solid orange;*/
}

.logo-container span{
  font-size: 1rem;
  text-transform: uppercase;
}

.logo-image {
  margin: 0 auto;
  padding-left: 1.125rem;
  padding-right: .5rem;
  height: 2.5rem;
  width: 2rem;
  border-right: 2px solid;
  /*  Border Gradient  */
    -webkit-border-image:
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

.name-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-left: 0.5rem;
}

.name-second {
  font-family: "Raleway", sans-serif;
  color: grey;
  font-weight: 400;
}


/*  Navigation Section  */

.desktop {
  width: 100%;
  text-align: right;
  margin-right: 1.125rem;
}

.desktop ul {
  list-style-type: none;
}

.desktop ul li {
  display: inline;
  padding: 0.15rem 0.25rem;
  margin-left: .5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.mobile {
  display: none;
}



/*@media only screen and (max-width: 760px) {
  .desktop,
  .logo-container {
    display: none;
    border: 1px solid green;
  }

  nav {
    width: 100%;
    border: 1px solid green;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.75rem 0 0 0;
    border: 1px solid purple;
  }

  .mobile img {
    height: 2.5rem;
    width: 2rem;
    margin: 0 auto;
  }


  .name-first,
  .name-second {
    display: none;
  }
}*/



/*  Banner Section  */
.container-a {
  margin: 0;
  display: flex;
  padding: 2rem 1.5rem;
  color: rgb(30,30,31);
  background-color: rgba(150,130,98, 0.2);
  /*border: 1px solid orange;*/
}

.lt-container-banner {
  background-image: url("../images/banner.jpg");
  width: 60%;
  height: 33rem;
  background-size: cover;
  background-position: right center;
  margin-right: 2.5rem;
  border: 1px solid rgba(150,130,98, 0.5);
}

 img .mobile-image {
   max-width: 60%;
 }

 .rt-container-banner {
   max-width: 30%;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   padding-top: 4rem;
 }

 .banner-button {
   font-family: "Lato", sans-serif;
   border: rgba(150,130,98, 0.5);
   padding: 0.5rem 8rem;
   color: white;
   max-height: 2rem;
   display: flex;
   min-width: 2rem;
   justify-content: center;
   background-color: rgba(38,40,56, 0.5);
 }

 .banner-button a {
   font-size: 1.2rem;
   flex-shrink: 0;
 }

 #banner h1 {
   max-width: 100%;
   height: auto;
   font-size: 3rem;
   line-height: 3.25rem;
   margin-bottom: 0;
 }

 #banner h3 {
   max-width: 100%;
   height: auto;
   padding-bottom: 1rem;
 }

 /*  Information Section  */

 .container-b {
   margin: 0;
   display: flex;
   padding: 2rem 1.5rem 0 1.5rem;
   color: rgb(30,30,31);
   /*background-color: rgba(150,130,98, 0.2);*/
   border: 1px solid orange;
 }
