/*  Universal Styles  */
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 0;
  color: rgb(30,30,31);
  margin: 0 auto;
  padding: 0;
  opacity: 0.95;
}

ul li a,
.banner-button a,
.course-text a {
text-decoration: none;
color: inherit;
}


h1 {
  font-family: "Lato", serif;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 3rem;
  line-height: 2.7rem;
  opacity: 0.95;
}

h2 {
  text-transform: capitalize;
  font-family: "Open Sans", serif;
  font-size: 2rem;
  font-weight: 900;
  color: rgba(30,30,31,0.93);
}

h3 {
  font-family: "Roboto", serif;
  text-align: right;
  line-height: 1.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(30,30,31,1);
  opacity: .80;
}


blockquote {
  margin: 0 auto;
  font-family: "Crete Round", Sans;
  font-style: italic;
  line-height: 1.4rem;
  color: rgba(30,30,31,0.8);
  /*border: 1px solid green;*/
}

  p,
  h4 {
    opacity: 0.9;
  }


.content-container {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0 0 0;
}

.info-card {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid green;
}

.info-text a {
  text-decoration: none;
}



/*  Header  */

.header-container {
  position: fixed;
  z-index: 1;
  height: 4rem;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  /*background-color: white;*/
  background-color: rgb(242,241,255);
}

.logo-container {
  font-size: 0;
  display: flex;
  align-items: center;
  /*border: 1px solid orange;*/
}

.logo-container span{
  font-size: 1.3rem;
  text-transform: uppercase;
}

.logo-image {
  margin: 0 auto;
  padding-left: 1.125rem;
  padding-right: .5rem;
  height: 3.5rem;
  width: 2.3rem;
  border-right: 2px solid;
  /*  Border Gradient  */
    -webkit-border-image:
      -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

.name-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin-left: 0.5rem;
}

.name-second {
  font-family: "Raleway", sans-serif;
  color: grey;
  font-weight: 400;
}


/*  Navigation Section  */

.desktop {
  width: 100%;
  text-align: right;
  margin-right: 1.125rem;
}

.desktop ul {
  list-style-type: none;
}

.desktop ul li {
  display: inline;
  padding: 0.15rem 0.25rem;
  margin-left: .5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.mobile {
  display: none;
}



/*@media only screen and (max-width: 760px) {
  .desktop,
  .logo-container {
    display: none;
    border: 1px solid green;
  }

  nav {
    width: 100%;
    border: 1px solid green;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.75rem 0 0 0;
    border: 1px solid purple;
  }

  .mobile img {
    height: 2.5rem;
    width: 2rem;
    margin: 0 auto;
  }


  .name-first,
  .name-second {
    display: none;
  }
}*/



/*  Banner Section  */
.container-a {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0;
  /*color: rgb(30,30,31);*/
  background-color: rgba(150,130,98, 0.2); /* backup color */
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(208,181,139,1) 0%, rgba(249,244,235,1) 59%, rgba(249,244,235,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(208,181,139,1) 0%, rgba(249,244,235,1) 59%, rgba(249,244,235,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(208,181,139,1) 0%, rgba(249,244,235,1) 59%, rgba(249,244,235,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(208,181,139,1) 0%, rgba(249,244,235,1) 59%, rgba(249,244,235,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(208,181,139,1) 0%, rgba(249,244,235,1) 59%, rgba(249,244,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f4eb', GradientType=0 );
  /*border: 1px solid orange;*/
}

.lt-container-banner {
  background-image: url("../images/banner.jpg");
  width: 60%;
  height: 33rem;
  margin: 0 1.5rem 0 1.5rem;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid rgba(150,130,98, 0.5);
}

 img .mobile-image {
   margin: 0;
   height: auto;
   /*padding-right: 1.5rem;*/
 }

 .rt-container-banner {
   max-width: 30%;
   /*margin-left: 1rem;*/  /* Add to look like wireframe  */
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   padding-top: 4.4rem;
   overflow: auto;
   background-color: rgba(183,126,255,0.2) /*rgba(171,154,178,0.3)*/;
   border: 1px solid rgba(150,130,98, 0.2);
 }

 .banner-button {
   font-family: "Lato", sans-serif;
   border: rgba(150,130,98, 0.5);
   border-radius: 0.5rem;
   padding: 0.5rem 8rem;
   color: white;
   margin-left: 1rem;
   max-height: 2rem;
   display: flex;
   min-width: 1rem;
   justify-content: center;
   flex-shrink: 2;
   background-color: rgba(38,40,56, 0.5);
 }

 .banner-button a {
   font-size: 1.2rem;
   flex-shrink: 0;
 }

h1.first-line {
  margin-bottom: 0;
  padding: 0 0 0.2rem 0.3rem;
}

 h1.sec-line {
   text-align: right;
   margin: 0;
   padding: 0;
   width: 98%;
 }

 #banner h1 {
   max-width: 100%;
   height: auto;
   padding-bottom: 0.8rem;
   margin-bottom: 0;
 }

 #banner h3 {
   max-width: 100%;
   height: auto;
   font-family: "Lato", serif;
   font-style: italic;
   line-height: 1.1rem;
   font-size: 1.1rem;
   font-weight: 400;
   padding: 0.4rem 0.8rem 0.4rem 0;
   margin: 1.6rem 0 7.5rem 0;
   background-color: rgba(158,97,158,1);
   background: -moz-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   background: -webkit-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   background: -o-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   background: -ms-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   background: linear-gradient(to right, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e619e', endColorstr='#ffffff', GradientType=1 );
 }





 /*  Information Section  */

 .container-b {
   margin: 0;
   display: flex;
   justify-content: flex-start;
   padding: 1rem 0 0 0;
   color: rgb(30,30,31);
 }

.lt-container-info {
  max-width: 60%;
  margin: 1rem .5rem 0 1.5rem;
  border: 1px solid blue;
}

 .info-image {
   width: 100%;
   height: auto;
   margin: 0;
   border: 1px solid blue;
 }

 #info h2 {
   margin: 0 0 0.25rem 0;
   font-weight: 700;
   padding: 2.3rem 0 2rem 0;
   background-color: rgba(83,91,107, 0.2);
   background: rgba(158,97,158,1);
    background: -moz-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e619e', endColorstr='#ffffff', GradientType=1 );

 }

 .rt-container-info {
   width: 40%;
   margin: 0;
   padding-left: 1rem;
   display: inline;
 }

 .info-card img {
   max-width: 35%;
 }

 .info-text {
   max-width: 60%;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 1rem;
 }

 .info-text a,
 .info-text p,
 .info-text > h3 {
   margin: .25rem;
   line-height: 1rem;
   border: 1px solid red;
 }

 .info-card:nth-child(3n){
 background-color: rgba(30,30,31,0.1);
 }

 h5 {
   margin: 0 auto;
   line-height: 1rem;
   padding: 1rem 0 2rem 0;
   color: rgba(30,30,31,0.9);
   border: 1px solid blue;
 }




 /* Courses Section  */

 .container-c {
   display: flex;
   flex-direction: column;
   justify-content: center;
   Align-items: center;
   margin: 0 2.5rem;
   padding: 2rem 2rem;
   background-color: rgba(207,174,99,0.2);
   border: 1px solid red;
 }

 .course-container {
   max-width: 100%;
   padding: 2rem 0;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
 }

 .course {
   max-width: 31.25%;
   background-color: white;
   border: 1px solid purple;
 }

 .course img {
   max-width: 100%;
 }

 .course-text {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin: 0 auto;
   padding: 0 1rem 0.9rem 1rem;
   border: 1px solid pink;
 }

 .course-text h3,
 .course-text h4,
 .course-text p {
   text-align: right;
   line-height: 1.5rem;
   margin: 0.5rem 0 0 0;
   padding: 0;
   border: 1px solid green;
 }

 .course:nth-child(3),
 .course:nth-child(1),
 .course:nth-child(n+4) {
   padding-bottom: 1.5rem;
 }

 .course:nth-child(n+4) {
   margin-top: 2rem;
 }



 /*  Exhibit Section  */

 .content-d {
   margin: 0 0 0 1.5rem;
   display: flex;
   justify-content: flex-start;
   padding: 0 0 1.8rem 0;
   color: rgb(30,30,31);
   border: 1px solid orange;

 }

 .lt-container-exhibit {
   max-width: 60%;
   margin: 0;
   padding-right: 1.5rem;
 }

 .container-d h2 {
   text-align: center;
   padding: 2rem 0;
 }

 .lt-container-exhibit video {
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 32rem;
    object-fit: fill;
    flex-shrink: 0;
    border: 1px solid blue;
}

.content-d h4{
  line-height: 1rem;
  font-size: 1.5rem;
}

.lt-container-exhibit h4 {
  text-transform: capitalize;
  margin: 0;
  padding: 1.9rem 0 1.3rem 0;
  background-color: rgba(83,91,107, 0.2);
  background: rgba(158,97,158,1);
   background: -moz-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   background: -webkit-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   background: -o-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   background: -ms-linear-gradient(left, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   background: linear-gradient(to right, rgba(158,97,158,1) 0%, rgba(226,212,226,1) 0%, rgba(255,255,255,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e619e', endColorstr='#ffffff', GradientType=1 );

  border: 1px solid blue;
}

.content-d .info-card {
  margin: 0 0 1rem 0;
  padding: 0;
}

.rt-container-exhibit .info-text {
  max-width: 65%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /*padding-left: 1rem;*/
}

.rt-container-exhibit .info-text h4 {
  margin: 0.5rem 0;
  line-height: 1.5rem;
  border: 1px solid yellow;
}

.rt-container-exhibit img {
  padding: 1rem 0 1rem 1rem;
}

.rt-container-exhibit .info-text p {
  line-height: 1.3rem;
  margin: 0 0 0.5rem 0;
  border: 1px solid yellow;
}


/*   Footer Section   */
.footer {
  margin: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem 2.5rem 1.5rem;
  border-top: 1px solid rgba(30,30,31,0.2);
  background-color: rgba(207,174,99,0.2);

}

.footer ul li {
  display: inline-block;
  margin-right: 0.5rem;
}
